celery[redis]
django
django-allauth
dj-rest-auth[with_social]
djangorestframework-simplejwt
django-cors-headers
django-celery-beat
django-celery-results
django-debug-toolbar
django-extensions
django-filter
django-grappelli
django-guardian
django-hashid-field
django-simple-history
django-softdelete
djangorestframework
markdown
pygments
pyyaml
uritemplate
gunicorn
psycopg2-binary
redis[hiredis]
sentry-sdk
whitenoise
